body{
    background-color: powderblue;
}

hr{
    /* background-color: green; */
    border-style: none ; 
    border-top-style: dotted ; 
    border-color: grey ;
    width: 15% ; 
    /* display: none ; */
    /* height: 5px ; */
    /* width: 100% ; */
    /* border-style: 
    if one parameter is given then it will applies to all 4 dimensions
    if two parameters is given then first parameter will be applied to top and bottom other right and left
    if three parameters is given then first parameter will be applied to top second is left and right third to bottom 
    */
    /* border-style: dotted solid none ; */
    /* border-top-style: dotted ; */
    /* border-style: none ; */
    /* display: none ; */
     border-width: 10px; 
    /* border-color: grey ; */
}

h1{
    color: "66BFBF" ;
}
